.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgrey;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

.sidebar-seach {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar-searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

.sidebar-searchContainer > .MuiSvgIcon {
  color: gray;
  padding: 10px;
}

.sidebar-searchContainer > input {
  border: none;
  outline-width: 0px;
  margin-left: 10px;
}

.sidebar__chatsContainer {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
